<form action="{{ action }}" method="post">
    <input type="hidden" name="CMS" value="{{ CMS }}">
    {%  if WMI_CULTURE_ID is not empty %}
        <input type="hidden" name="WMI_CULTURE_ID" value="{{ WMI_CULTURE_ID }}">
    {% endif %}
    <input type="hidden" name="WMI_CURRENCY_ID" value="{{ WMI_CURRENCY_ID }}">
    {%  if WMI_CUSTOMER_EMAIL is not empty %}
        <input type="hidden" name="WMI_CUSTOMER_EMAIL" value="{{ WMI_CUSTOMER_EMAIL }}">
    {% endif %}
    {%  if WMI_CUSTOMER_FIRSTNAME is not empty %}
        <input type="hidden" name="WMI_CUSTOMER_FIRSTNAME" value="{{ WMI_CUSTOMER_FIRSTNAME }}">
    {% endif %}
    {%  if WMI_CUSTOMER_LASTNAME is not empty %}
        <input type="hidden" name="WMI_CUSTOMER_LASTNAME" value="{{ WMI_CUSTOMER_LASTNAME }}">
    {% endif %}
    <input type="hidden" name="WMI_DESCRIPTION" value="{{ WMI_DESCRIPTION }}">
    <input type="hidden" name="WMI_EXPIRED_DATE" value="{{ WMI_EXPIRED_DATE }}">
    <input type="hidden" name="WMI_FAIL_URL" value="{{ WMI_FAIL_URL }}">
    <input type="hidden" name="WMI_MERCHANT_ID" value="{{ WMI_MERCHANT_ID }}">
    <input type="hidden" name="WMI_PAYMENT_AMOUNT" value="{{ WMI_PAYMENT_AMOUNT }}">
    <input type="hidden" name="WMI_PAYMENT_NO" value="{{ WMI_PAYMENT_NO }}">
    {%  if WMI_RECIPIENT_LOGIN is not empty %}
        <input type="hidden" name="WMI_RECIPIENT_LOGIN" value="{{ WMI_RECIPIENT_LOGIN }}">
    {% endif %}
    <input type="hidden" name="WMI_SUCCESS_URL" value="{{ WMI_SUCCESS_URL }}">
    {%  if WMI_PTENABLED is not empty %}
        {% for v in WMI_PTENABLED %}
            <input type="hidden" name="WMI_PTENABLED" value="{{ v }}">
        {% endfor %}
    {% endif %}
    {%  if WMI_PTDISABLED is not empty %}
        {% for v in WMI_PTDISABLED %}
            <input type="hidden" name="WMI_PTDISABLED" value="{{ v }}">
        {% endfor %}
    {% endif %}
    <input type="hidden" name="WMI_SIGNATURE" value="{{ WMI_SIGNATURE }}">
  <div class="buttons">
    <div class="pull-right">
      <input type="submit" value="{{ button_confirm }}" class="btn btn-primary" />
    </div>
  </div>
</form>
