{{ header }}{{ column_left }}{{ column_right }}
<div class="container">{{ content_top }}
    {% if error %}
        <div class="alert alert-danger">
            <i class="fa fa-exclamation-circle"></i> {{ error }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
    <?php } ?>
    {{ content_bottom }}
</div>
{{ footer }}
