{{ header }}{{ column_left }}
<div id="content">
    <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
            <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
    </ul>
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-payment" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
            <h1><i class="fa fa-credit-card"></i> {{ heading_title }}</h1>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}
            <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        {% if error_warning %}
            <div class="alert alert-danger alert-dismissible"><i
                        class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-body">
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-payment"
                      class="form-horizontal">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab_info" data-toggle="tab">{{ textTabInfo }}</a></li>
                        <li><a href="#tab_api" data-toggle="tab">{{ textTabApi }}</a></li>
                        <li><a href="#tab_dop_api" data-toggle="tab">{{ textTabDopApi }}</a></li>
                        <li><a href="#tab_order_status" data-toggle="tab">{{ textTabStatusOrder }}</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_info">
                            <div class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object" src="/walletone/img/w1_logo.png"
                                             alt="Wallet One Единая касса">
                                    </a>
                                    <p>Универсальный платежный агрегатор, предлагающий более 100 способов приема
                                        платежей.</p>
                                    <ul class="list-characteristic">
                                        <li><i>&#10004;</i>Быстрое подключение</li>
                                        <li><i>&#10004;</i>Простая интеграция</li>
                                        <li><i>&#10004;</i>Наглядная аналитика</li>
                                        <li><i>&#10004;</i>Круглосуточная служба поддержки</li>
                                    </ul>
                                </div>
                                <div class="media-body">
                                    <blockquote>
                                        <p><span>Быстрая настройка</span></p>
                                        <ul class="list-settings-ul">
                                            <li>
                                                <div class="circle-fgnghn">1</div>
                                                <span>Зарегистрироваться в кассе на <a target="_blank"
                                                                                       href="https://www.walletone.com/ru/merchant/">сайте</a></span>
                                            </li>
                                            <li>
                                                <div class="circle-fgnghn">2</div>
                                                <span>Заполнить все обязательные поля из раздела "Настройки".</span>
                                            </li>
                                            <li>
                                                <div class="circle-fgnghn">3</div>
                                                <span>Для вывода определенных способов оплаты, заполните поля в разделе "Доп. настройки".</span>
                                            </li>
                                        </ul>
                                        <ul class="app_links">
                                            <li><a href="https://itunes.apple.com/ru/app/merchant-w1/id925378607?mt=8"
                                                   class="app_link"></a></li>
                                            <li>
                                                <a href="https://play.google.com/store/apps/details?id=com.w1.merchant.android"
                                                   class="app_link __android"></a></li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab_api">
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="w1Status">{{ textStatus }}</label>
                                <div class="col-sm-10">
                                    <select name="payment_w1_status" id="payment_w1_status" class="form-control">
                                        {% if (payment_w1_status) %}
                                            <option value="1" selected="selected">{{ textEnabled }}</option>
                                            <option value="0">{{ textDisabled }}</option>
                                        {% else %}
                                            <option value="1">{{ textEnabled }}</option>
                                            <option value="0" selected="selected">{{ textDisabled }}</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="payment_w1GeoZone">{{ textGeoZone }}</label>
                                <div class="col-sm-10">
                                    <select name="payment_w1GeoZone" id="payment_w1GeoZone" class="form-control">
                                        <option value="0">{{ textAllZones }}</option>
                                        {% for zone in geoZones  %}
                                            {% if (zone['geo_zone_id'] == payment_w1GeoZone) %}
                                                <option value="{{ zone['geo_zone_id'] }}"
                                                        selected="selected">{{ zone['name'] }}</option>
                                            {% else %}
                                                <option value="{{ zone['geo_zone_id'] }}">{{ zone['name'] }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="payment_w1_sort_order">{{ textSortOrder }}</label>
                                <div class="col-sm-10">
                                    <input type="text" name="payment_w1_sort_order"
                                           value="{% if payment_w1_sort_order is not empty %}{{ payment_w1_sort_order }} {% endif %}"
                                           placeholder="{{ textSortOrder }}" id="input-sort-order"
                                           class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group required">
                                <label class="col-sm-2 control-label" for="payment_w1MerchantId">
                                    <span data-toggle="tooltip"
                                          title="{{ textMerchantIdDesc }}">{{ textMerchantId }}</span>
                                </label>
                                <div class="col-sm-10">
                                    <input type="text" name="payment_w1MerchantId"
                                           value="{% if payment_w1MerchantId is not empty %}{{ payment_w1MerchantId }}{% endif %}"
                                           placeholder="{{ textMerchantId }}" id="payment_w1MerchantId" class="form-control"/>
                                    {% if (errorMerchantId) %}
                                        <div class="text-danger">{{ errorMerchantId }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group required">
                                <label class="col-sm-2 control-label" for="payment_w1CurrencyId">{{ textCurrencyId }}</label>
                                <div class="col-sm-10">
                                    <select name="payment_w1CurrencyId" id="payment_w1CurrencyId" class="form-control">
                                        {% for key, currency in currencies %}
                                            {% if (payment_w1CurrencyId is not empty and key == payment_w1CurrencyId) %}
                                                <option value="{{ key }}" selected="selected">{{ currency }}</option>
                                            {% else %}
                                                <option value="{{ key }}">{{ currency }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                    {% if (errorCurrencyId) %}
                                        <div class="text-danger">{{ errorCurrencyId }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="payment_w1CurrencyDefault">
                                    <span data-toggle="tooltip"
                                          title="{{ textCurrencyDefaultDesc }}">{{ textCurrencyDefault }}</span>
                                </label>
                                <div class="col-sm-10">
                                    <input type="checkbox" value="1"
                                           name="payment_w1CurrencyDefault" {% if(payment_w1CurrencyDefault is not empty and payment_w1CurrencyDefault) %}
                                    checked{% endif %}>
                                </div>
                            </div>
                            <div class="form-group required">
                                <label class="col-sm-2 control-label" for="payment_w1Signature">
                                    <span data-toggle="tooltip"
                                          title="{{ textSignatureDesc }}">{{ textSignature }}</span>
                                </label>
                                <div class="col-sm-10">
                                    <input type="text" name="payment_w1Signature"
                                           value="{% if payment_w1Signature is not empty %}{{ payment_w1Signature }}{% endif %}"
                                           placeholder="{{ textSignature }}" id="payment_w1Signature" class="form-control"/>
                                    {% if (errorSignature) %}
                                        <div class="text-danger">{{ errorSignature }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="payment_w1ReturnUrl">{{ textReturnUrl }}</label>
                                <div class="col-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-link"></i></span>
                                        <input type="text" readonly="readonly" value="{{ payment_w1ReturnUrl }}"
                                               id="payment_w1ReturnUrl" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="payment_w1CultureId">{{ textCultureId }}</label>
                                <div class="col-sm-10">
                                    <select name="payment_w1CultureId" id="payment_w1CultureId" class="form-control">
                                        {% for key, culture in cultures %}
                                            {% if (payment_w1CultureId is not empty and key == payment_w1CultureId) %}
                                                <option value="{{ key }}" selected="selected">{{ culture }}</option>
                                            {% else %}
                                                <option value="{{ key }}">{{ culture }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                    {% if (errorCultureId) %}
                                        <div class="text-danger">{{ errorCultureId }}</div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab_dop_api">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{ textPtenabled }}</label>
                                <div class="col-sm-10">
                                    <div class="well well-sm list-paysystem">
                                        {{ listPtenabled }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{ textPtdisabled }}</label>
                                <div class="col-sm-10">
                                    <div class="well well-sm list-paysystem">
                                        {{ listPtdisabled }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab_order_status">
                            <div class="form-group">
                                <label class="col-sm-2 control-label"
                                       for="input-processed-status">{{ textStatusOrderProcessed }}</label>
                                <div class="col-sm-10">
                                    <select name="payment_w1OrderStatusProcessed" id="input-processed-status"
                                            class="form-control">
                                        {% for status in orderStatuses %}
                                            {% if (status['order_status_id'] == payment_w1OrderStatusProcessed) %}
                                                <option value="{{ status['order_status_id'] }}"
                                                        selected="selected">{{ status['name'] }}</option>
                                            {% else %}
                                                <option value="{{ status['order_status_id'] }}">{{ status['name'] }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"
                                       for="payment_w1OrderStatusWaiting">{{ textStatusOrderWaiting }}</label>
                                <div class="col-sm-10">
                                    <select name="payment_w1OrderStatusWaiting" id="payment_w1OrderStatusWaiting" class="form-control">
                                        {% for status in orderStatuses %}
                                            {% if (status['order_status_id'] == payment_w1OrderStatusWaiting) %}
                                                <option value="{{ status['order_status_id'] }}"
                                                        selected="selected">{{ status['name'] }}</option>
                                            {% else %}
                                                <option value="{{ status['order_status_id'] }}">{{ status['name'] }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"
                                       for="payment_w1OrderStatusSuccess">{{ textStatusOrderSuccess }}</label>
                                <div class="col-sm-10">
                                    <select name="payment_w1OrderStatusSuccess" id="payment_w1OrderStatusSuccess" class="form-control">
                                        {% for status in orderStatuses %}
                                            {% if (status['order_status_id'] == payment_w1OrderStatusSuccess) %}
                                                <option value="{{ status['order_status_id'] }}"
                                                        selected="selected">{{ status['name'] }}</option>
                                            {% else %}
                                                <option value="{{ status['order_status_id'] }}">{{ status['name'] }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" type="text/css" href="{{ linkToCss }}">
{{ footer }} 